<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" color="primary" name="person" class="iconTop"></ion-icon>
    <ion-title>      
      Detalhes
    </ion-title>
    <img slot="end" width="8%" height="8%" src="{{'../../assets/icon/logo1.png'}}" class="animalIco">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <span>Nome:&nbsp;</span>
      <span>{{cliente.nome}}</span>
    </ion-item>
    <ion-item>
      <span>CPF:&nbsp;</span>
      <span>{{cliente.cpf}}</span>
    </ion-item>
    <ion-item>
      <span>Telefone:&nbsp;</span>
      <span>{{cliente.telefone}}</span>
    </ion-item>
    <ion-item>
      <span>Email:&nbsp;</span>
      <span>{{cliente.email}}</span>
    </ion-item>
    <ion-item lines="none">
      <ion-button color="primary" class="buttonCenter" shape="round" (click)="showAnimalList()">Animais</ion-button>
    </ion-item>
    <ion-item lines="none" class="lista" hidden id="list">

      <ion-list *ngFor="let animal of animais | async">
        <ion-item lines="none" *ngIf="animal.responsavel.id == id">
          <img width="32px" height="32px" src="{{'../../assets/icon/' + animal.especie + '.png'}}" class="animalIco">
          <span>&nbsp;{{animal.nome}}</span>
        </ion-item>
      </ion-list>

    </ion-item>
    <ion-item lines="none">
      <ion-button color="secondary" class="buttonCenter" shape="round" href="/tabs/register">Voltar</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
