<ion-header>
  <ion-toolbar>
    <ion-title>
      Sobre
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Informações da Aplicação</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aplicação desenvolvida como trabalho para a matéria de Programação Orientada a Objetos Aplicada.</p>
        <ion-item href="https://github.com/diogoasp/ClinicaVeterinariaIonic">
            <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
            <ion-label>GitHub</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Informações dos Desenvolvedores</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Aplicação desenvolvida pelos estudantes de Bacharelado de Sistemas de Informação do Instituto Federal Fluminense - Campos dos Goytacazes/Campus Centro.</p>
        <ion-item href="https://github.com/daniellydsa">
          <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
          <ion-label>Danielly Santos</ion-label>
        </ion-item>
        <ion-item href="https://github.com/diogoasp">
          <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
          <ion-label>Diogo Alves</ion-label>
        </ion-item>
        <ion-item href="https://github.com/RafaelZapata">
          <ion-icon slot="start" color="medium" name="logo-github"></ion-icon>
          <ion-label>Rafael Zapata</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card class="">
      <ion-card-header>
        <ion-card-subtitle>Versão do Aplicativo</ion-card-subtitle>
      </ion-card-header>
      <p>&emsp;v.0.0.3 - Desenvolvimento</p>
    </ion-card>
    <ion-list lines="none">
      <ion-item href="/">
        <ion-icon slot="start" color="medium" name="home"></ion-icon>
        <ion-label>Início</ion-label>
      </ion-item>
    </ion-list>
</ion-content>

