<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Animais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="hidden" name="id" [(ngModel)]="consulta.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Animal</ion-label>
      <ion-select *ngFor="let a of animal | async">
        <ion-option value="a.id">{{a.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome do Veterinário</ion-label>
      <ion-input type="text" name="nomeVeterinario" [(ngModel)]="consulta.nomeVeterinario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Sintomas</ion-label>
      <ion-input type="text" name="sintomas" [(ngModel)]="consulta.sintomas"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label stacked>Diagnóstico</ion-label>
      <ion-input type="text" name="diagnostico" [(ngModel)]="consulta.diagnostico"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Data da Consulta</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY, HH:mm" name="dtConsulta" [(ngModel)]="consulta.dtConsulta"></ion-input>
    </ion-item>   
  </ion-list>
  <ion-button block (click)="save()">Salvar</ion-button>
  <ion-item href="/">
    <ion-icon slot="start" color="medium" name="home"></ion-icon>
    <ion-label>Início</ion-label>
  </ion-item>
</ion-content>