<ion-header>
  <ion-toolbar>
    <ion-title>
      Consultas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="listaConsulta">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>Animal</ion-col>
          <ion-col>Data</ion-col>
          <ion-col>Veterinário</ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    
    <ion-item-sliding *ngFor="let c of consultas | async" (click) = "showDetailsConsulta(c.id)">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size = "3">{{c.animal.nome}}</ion-col>
            <ion-col size = "5">{{c.dtConsulta | date:"MM/dd/yyyy 'às' h:mma"}}</ion-col>
            <ion-col size = "4">{{c.nomeVeterinario}}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)="removeConsulta(c.id)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </ion-button>
        <ion-button color="dark"(click)="editConsulta(c.id)">
          <ion-icon name="create"></ion-icon>
          Alterar
        </ion-button>
      </ion-item-options>
      
      <ion-item hidden id="{{c.id}}" class="detalhes">
        <ion-list lines = "none">
          <ion-item>
            <label>Sintomas:</label>
            <span>&nbsp;{{c.sintomas}}</span>
          </ion-item>
          <ion-item>
            <label>Diagnóstico:</label>
            <span>&nbsp;{{c.diagnostico}}</span>
          </ion-item>
        </ion-list>
      </ion-item>

    </ion-item-sliding>
    <ion-item>
      <ion-button class="cadastroButton" color="dark" (click)="addConsulta()">
        <ion-icon slot = "start" name = "add-circle"></ion-icon>
        Cadastrar
      </ion-button>
    </ion-item>
    
  </ion-list>
</ion-content>