<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" color="primary" name="calendar" class="iconTop"></ion-icon>
    <ion-title>      
      Nova Consulta
    </ion-title>
    <img slot="end" width="8%" height="8%" src="{{'../../assets/icon/logo1.png'}}" class="animalIco">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item hidden>
      <ion-input type="hidden" name="consulta.id" [(ngModel)]="consulta.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Animal</ion-label>
      <ion-select name="animal" [(ngModel)]="animal" (ionChange)="setAnimal()" required>
        <ion-select-option *ngFor="let a of animais | async;" [value]="a" (ionSelect)="setAnimal()">{{a.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome do Veterinário</ion-label>
      <ion-input type="text" name="consulta.nomeVeterinario" [(ngModel)]="consulta.nomeVeterinario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Sintomas</ion-label>
      <ion-input type="text" name="consulta.sintomas" [(ngModel)]="consulta.sintomas"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label stacked>Diagnóstico</ion-label>
      <ion-input type="text" name="consulta.diagnostico" [(ngModel)]="consulta.diagnostico"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Data da Consulta</ion-label>
      <ion-datetime displayFormat="DD MMM YYYY, HH:mm" name="consulta.dtConsulta" [(ngModel)]="consulta.dtConsulta"></ion-datetime>
    </ion-item>   
  </ion-list>
  <ion-button color="primary" class="buttonRight" shape="round" block (click)="save()">Salvar</ion-button>
  <ion-button color="secondary" class="buttonRight" shape="round" href="/tabs/consultation">Voltar</ion-button>
</ion-content>