<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Animais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="hidden" name="id" [(ngModel)]="animal.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="animal.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Raça</ion-label>
      <ion-input type="text" name="raca" [(ngModel)]="animal.raca"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Espécie</ion-label>
      <ion-select [(ngModel)]="animal.especie">
        <ion-option value="Canino">Canino</ion-option>
        <ion-option value="Equino">Equino</ion-option>
        <ion-option value="Felino">Felino</ion-option>
        <ion-option value="Roedor">Roedor</ion-option>
        <ion-option value="Ave">Ave</ion-option>
        <ion-option value="Bovino">Bovino</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select [(ngModel)]="animal.sexo">
        <ion-option value="F">Fêmea</ion-option>
        <ion-option value="M">Macho</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Responsável</ion-label>
      <ion-select *ngFor="let c of clientes | async">
        <ion-option value="c.id">{{c.nome}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button block (click)="save()">Salvar</ion-button>
  <ion-item href="/">
    <ion-icon slot="start" color="medium" name="home"></ion-icon>
    <ion-label>Início</ion-label>
  </ion-item>
</ion-content>