<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" color="primary" name="paw" class="iconTop"></ion-icon>
    <ion-title>      
      Cadastrar Animal
    </ion-title>
    <img slot="end" width="8%" height="8%" src="{{'../assets/icon/logo1.png'}}" class="animalIco">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item hidden>
      <ion-input type="hidden" name="id" [(ngModel)]="animal.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="animal.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Raça</ion-label>
      <ion-input type="text" name="raca" [(ngModel)]="animal.raca"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Espécie</ion-label>
      <ion-select [(ngModel)]="animal.especie">
        <ion-select-option value="Canino">Canino</ion-select-option>
        <ion-select-option value="Equino">Equino</ion-select-option>
        <ion-select-option value="Felino">Felino</ion-select-option>
        <ion-select-option value="Roedor">Roedor</ion-select-option>
        <ion-select-option value="Ave">Ave</ion-select-option>
        <ion-select-option value="Bovino">Bovino</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Sexo</ion-label>
      <ion-select [(ngModel)]="animal.sexo">
        <ion-select-option value="F">Fêmea</ion-select-option>
        <ion-select-option value="M">Macho</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Responsável</ion-label>
      <ion-select name="cliente" [(ngModel)]="cliente" (ionChange)="setCliente()" required>
        <ion-select-option *ngFor="let c of clientes | async" [value]="c">{{c.nome}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button block (click)="save()">Salvar</ion-button>
  <ion-button color="secondary" class="buttonRight" shape="round" href="/tabs/register">Voltar</ion-button>
</ion-content>