<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Animais</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="hidden" name="id" [(ngModel)]="animal.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="animal.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Raça</ion-label>
      <ion-input type="text" name="raca" [(ngModel)]="animal.raca"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Espécie</ion-label>
      <ion-input type="text" name="especie" [(ngModel)]="animal.especie"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Sexo</ion-label>
      <ion-input type="text" name="sexo" [(ngModel)]="animal.sexo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Responsável</ion-label>
      <ion-input type="text" name="cliente" [(ngModel)]="animal.cliente"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button block (click)="save()">Salvar</ion-button>
</ion-content>