.gridTitle {
    border-top: 2px solid #1B3D9A;
    border-bottom: 2px solid #1B3D9A;
    background-color: #81A4CD;
    font-weight: bold;
}

.gridTable {
    border-top: 1px solid #1B3D9A;
    border-bottom: 1px solid #1B3D9A;
    background-color: #DBE4EE;
}

ion-item {
    margin: -0.1%;
}
