<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" color="primary" name="list-box" class="iconTop"></ion-icon>
    <ion-title>      
      Cadastros
    </ion-title>
    <img slot="end" width="8%" height="8%" src="{{'../../assets/icon/logo1.png'}}" class="animalIco">
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list id="listMenu">
    <ion-item lines="none">
      <ion-button class = "menu" color = "primary" (click)="showListCliente()">
        <ion-icon name ="person" slot="start"></ion-icon>
        Cliente
      </ion-button>
      <ion-button class = "menu" color="primary" (click)="showListAnimal()">
        <ion-icon name="paw" slot="start"></ion-icon>
        Animal
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list id="listaAnimal" hidden>
    <ion-item-sliding class="lista" *ngFor="let a of animais | async" >
      <ion-item lines="none" (click)="showDetailsAnimal(a.id)" class="animalItem">
        <img width="32px" height="32px" src="{{'../../assets/icon/' + a.especie + '.png'}}" class="animalIco">
        <h4>&emsp;{{a.nome}}</h4>
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)="removeAnimal(a.id)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </ion-button>
        <ion-button color="secondary"(click)="editAnimal(a.id)">
          <ion-icon name="create"></ion-icon>
          Alterar
        </ion-button>
      </ion-item-options>
      <ion-item lines="none" hidden id="{{a.id}}">
        <ion-list lines="none">
          <ion-item>
            <label>Raça:</label>
            <span>&nbsp;{{a.raca}}</span>
          </ion-item>
          <ion-item>
            <label>Espécie:</label>
            <span>&nbsp;{{a.especie}}</span>
          </ion-item>
          <ion-item>
            <label>Sexo:</label>
            <span>&nbsp;{{a.sexo}}</span>
          </ion-item>
          <ion-item (click)="showDetailsCliente(a.responsavel.id)">
            <label>Responsável:</label>
            <span>&nbsp;{{a.responsavel.nome}}</span>
          </ion-item>
        </ion-list>
      </ion-item>
    </ion-item-sliding>
  </ion-list>

  <ion-list id="listaCliente" hidden>
    <ion-item-sliding class="lista" *ngFor="let c of clientes | async">
      <ion-item lines="none" (click)="showDetailsCliente(c.id)">
        <h4>{{c.nome}}</h4>
      </ion-item>
      <ion-item-options side="end">
        <ion-button color="danger" (click)="removeCliente(c.id)">
          <ion-icon name="trash"></ion-icon>
          Excluir
        </ion-button>
        <ion-button color="secondary"(click)="editCliente(c.id)">
          <ion-icon name="create"></ion-icon>
          Alterar
        </ion-button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab class="botaoFab" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="addCliente()"><ion-icon name="person"></ion-icon></ion-fab-button>
      <ion-fab-button (click)="addAnimal()"><ion-icon name="paw"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
