<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Clientes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-input type="hidden" name="id" [(ngModel)]="cliente.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="cliente.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>CPF</ion-label>
      <ion-input type="text" name="cpf" [(ngModel)]="cliente.cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="text" name="telefone" [(ngModel)]="cliente.telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="cliente.email"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button block (click)="save()">Salvar</ion-button>
</ion-content>