<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" color="medium" name="person-add" class="iconTop"></ion-icon>
    <ion-title>      
      Novo Cliente
    </ion-title>
    <img slot="end" width="8%" height="8%" src="{{'../assets/icon/logo1.png'}}" class="animalIco">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item hidden>
      <ion-input  name="id" [(ngModel)]="cliente.id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input type="text" name="nome" [(ngModel)]="cliente.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>CPF</ion-label>
      <ion-input type="text" name="cpf" [(ngModel)]="cliente.cpf"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Telefone</ion-label>
      <ion-input type="text" name="telefone" [(ngModel)]="cliente.telefone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="cliente.email"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button block (click)="save()">Salvar</ion-button>
  <ion-item href="/">
    <ion-icon slot="start" color="medium" name="home"></ion-icon>
    <ion-label>Início</ion-label>
  </ion-item>
</ion-content>