<ion-header>
  <ion-toolbar>
    <ion-title>
      Clinica Veterinária
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/home.png" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Início</ion-card-subtitle>
        <ion-card-title>Bem vindo!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Essa aplicação possibilita ao cliente marcar consultas, realizar cadastros e obter informações sobre os serviços prestados.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Informações</ion-label>
      </ion-list-header>
      <ion-item href="/contact">
        <ion-icon slot="start" color="medium" name="mail"></ion-icon>
        <ion-label>Fale Conosco!</ion-label>
      </ion-item>
      <ion-item href="/about">
        <ion-icon slot="start" color="medium" name="information-circle"></ion-icon>
        <ion-label>Sobre</ion-label>
      </ion-item>
      <!-- <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item> -->
    </ion-list>
</ion-content>
